*{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
}
/*.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; - не поняла зачем.
}*/

.container {
  max-width: 1130px;
  margin: 0px auto;
} /*Контейнер лучше на все элементы вешать, для более легкой адаптации*/

/*------------------------------ШАПКА------------------------------------*/
.wrapper__headerblue{
  background-color: #0070a0;
}
.headerblue {
  display: flex;
  min-height: 43px;
  /* width: 1440px;  - не нужно, поскольку контент в контейнере*/
  margin: 0px auto;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header__blue {
  text-align: center;
  color: #ffffff;
  line-height: 116%;
  font-size: 14px;
}
.header__blue span{
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  color:#CCE5F3;
}
.header__blue span::after{
  content: ">"
}
.header {
  position: fixed;
  top:0; 
  left:0 ;
  width: 100%;
  z-index: 50; 
}
.header__container {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color:#FFF;
  margin-bottom: 54px;
}

.header__logo {
  display: contents;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*.header__menu::before{
  content: url("../img/icons/logo1.png");
  margin-right: 10px;
}*/
.header__logo::before {
  content: url("../img/icons/logo1.png");
  margin-right: 10px;
}
/*.menu__flex{
  display: flex;
  width: 100%;
  display: flex;
}*/
.menu__list {
  display: flex;
  margin-left: 34px;
}

.menu__item {
}
.menu__item/*:not(:last-child)*/ {
  margin: 0px 24px 0px 0px;
}

.menu__link {
  color: #33383f;
  line-height: 171%;
}
.menu__link:hover{
  color:#0070A0;
}
.header__button{
  position: relative;
  color:#0070A0;
  line-height: 135%;
  padding: 4px 30px;
}
.btn-white:hover{
border: 2px solid #0070A0;
}

.header__button-buy{
  padding: 4px 20px;
}
.btn-blue{
  background-color:#0070A0;
  color: #ffffff;
}
.btn-blue:hover{
  background-color:#ffffff;
  color: #0070A0;
  border: 2px solid #0070A0;
}
.hamb {
  display: none;
}

.popup {
  display: none;
}

/*-------------------------------MAIN-----------------------------------*/
.main {
  /*тут все блоки*/
  /* flex: 1 1 auto;* - Я туплю, для чего ты это сделала?*/
}
.one_block{
/*первый блок, сюда цвет обложки кидаем*/
margin-top: 123px; /*43+80*/
}


.page {
  /*display: flex;
  min-height: 565px;
  width: 1120px;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: beige;*/
   margin: 123px auto;
}

/*.page__main-block {
  display: flex;
}*/
.main-block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 455px;
}

.main-block__content{
  display: flex;
  padding-top: 54px;
 justify-content: space-between;
}

.main-block__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 64px;
  /* or 89% 64px*/
  letter-spacing: 0.2px;
  vertical-align:top;
  color:#1F1F1F;

}

.main-block__text {
  /*font-family: "Inter";- поставила по умолчанию
  font-style: normal; 
  font-weight: 400;*/
  font-size: 20px;
  line-height: 30px;
  /* or 124% */
  letter-spacing: 0.2px;
  width: 350px;
  vertical-align:top;
  color:#1F1F1F;
}
.main-block__buttons {
  
}
.main-block__button{
  padding: 8px 32px;
  font-size: 17px;
}
.main-block__button:last-child::after{
  content:url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.34314 1.1001L9.68628 9.86039L1.34314 18.6207' stroke='%23006B99' stroke-width='1.6'/%3E%3C/svg%3E%0A");
  vertical-align: top;
  position: relative;
  left: 8px;
}
.main-block__image{
  /*flex-grow: 1;
  flex-shrink: 1;*/
}
.main-block__image img{
  max-width: 100%;
  min-width:250px ;
}
/*------------------------------ПОДВАЛ-----------------------------------*/
