.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1130px;
  margin: 0px auto;
}

/*------------------------------ШАПКА------------------------------------*/
.headerblue {
  display: flex;
  min-height: 43px;
  width: 1440px;
  margin: 0px auto;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0070a0;
}
.header__blue {
  text-align: center;
  color: #ffffff;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}

.header__logo {
  display: contents;
}

.header__menu {
}

.header__logo::before {
  content: url("../img/icons/logo1.png");
  margin-right: 10px;
}

.menu__list {
  display: flex;
  margin-left: 34px;
}

.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

.menu__link {
  color: #33383f;
  line-height: 171%;
}

/*-------------------------------MAIN-----------------------------------*/
.main {
  flex: 1 1 auto;
}
.page1 {
  display: flex;
  min-height: 565px;
  width: 1120px;
  flex-direction: column;
  margin: 136px auto;
  justify-content: center;
}

.main-block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-block__container {
  display: flex;
  justify-content: space-between;
}

.main-block__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 64px;
  /* or 110% */
  letter-spacing: 0.2px;
}

.main-block__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.2px;
}
.main-block__image {
  display: flex;
}
.main-block__buttons {
}
/*------------------------------SECTION1-----------------------------------*/
._containerMini {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 740px;
  height: 120px;
  margin: 0px auto;
}
.companiesTitle {
  font-size: 24px;
  text-align: center;
}
.companies__container {
  display: flex;
  justify-content: space-between;
} /*----------------------------BANNERS-----------------------------------*/
.page2 {
  display: flex;
  min-height: 565px;
  width: 1120px;
  margin: 136px auto;
  justify-content: space-around;
}
.banners__3 {
  display: flex;
  flex-direction: row;
}

.banners__block {
  display: flex;
  max-height: 250px;
  max-width: 355px;
  flex-direction: column;
  justify-content: center;
  background-color: #0070a0;
}
/*------------------------------ПОДВАЛ-----------------------------------*/
