.container {
    max-width: 1130px;
    margin: 0px auto;
    padding-top: 50px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .infoBlock {
    display: flex;
    justify-content: space-around;
    flex-grow: 6;
  }

  .data {
    display: flex;
    justify-content: space-between;
    border-top:3px solid #c2cdd8;
  }
  