* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  box-sizing: border-box;
}
/*.wrapper {
  min-height: 100%;
  overflow: hidden;

.container {
  max-width: 1130px;
  max-height: 500px;
  margin: 0px auto;
  padding: 10px;
}

.main {
   flex: 1 1 auto;
}

.columns4 {
  padding-top: 123px;
  position: relative;
  top: -123px;
}

.columns4 .container{
  border: 2px solid #0070a0;
  padding-bottom: 60px;
}
.clmn4__wrapper-content{
  padding-top: 50px; 
}

.clmn4__text {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  margin-bottom: 68px;
}
.clmn4-block__title {
  font-family: "Fraunces";
  margin-bottom: 21px;
  font-size: 35px;
  color: black;
}
.clmn4-block__text {
  font-weight: 400;
  font-size: 18px;
  color: black;
}
.clmn4-footer {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.clmn4-footer__title {
  font-family: "Fraunces";
  font-size: 25px;
  margin: 13px 0px 13px 0px;
  color:#1F1F1F;
}
.clmn4-footer__text{
  color:#1F1F1F;
  margin-bottom:10px;
}
.clmn4-wrapper {
  display: flex;
  flex-direction: column; - не поняла зачем.
}*/

.container {
  max-width: 1130px;
  margin: 0px auto;
  padding: 10px;
} /*Контейнер лучше на все элементы вешать, для более легкой адаптации*/

/*------------------------------ШАПКА------------------------------------*/
.wrapper__headerblue {
  background-color: #0070a0;
}
.headerblue {
  display: flex;
  min-height: 43px;
  /* width: 1440px;  - не нужно, поскольку контент в контейнере*/
  margin: 0px auto;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header__blue {
  text-align: center;
  color: #ffffff;
  line-height: 116%;
  font-size: 14px;
}
.header__blue span {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  color: #cce5f3;
}
.header__blue span::after {
  content: ">";
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header .container{
  padding: 0px 10px;
}
.header div:nth-of-type(2){
  background-color: #fff;
}

.header__container {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 0px;
}

.header__logo {
  display: contents;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*.header__menu::before{
  content: url("../img/icons/logo1.png");
  margin-right: 10px;
}*/
.header__logo::before {
  content: url("../img/icons/logo1.png");
  margin-right: 10px;
}
/*.menu__flex{
  display: flex;
  width: 100%;
  display: flex;
}*/
.menu__list {
  display: flex;
  margin-left: 34px;
}

.menu__item {
}
.menu__item/*:not(:last-child)*/ {
  margin: 0px 24px 0px 0px;
}

.menu__link {
  color: #33383f;
  line-height: 171%;
}
.menu__link:hover {
  color: #0070a0;
}
.header__button {
  position: relative;
  color: #0070a0;
  line-height: 135%;
  padding: 4px 30px;
}
.btn-white{
  color:#0070A0;
}
.btn-white:hover{
background-color:#0070A0;
color: #fff;
}

.header__button-buy {
  padding: 4px 20px;
}
.btn-blue {
  background-color: #0070a0;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #ffffff;
  color: #0070a0;
  border: 2px solid #0070a0;
}
.hamb {
  display: none;
}

.popup {
  display: none;
}

/*-------------------------------MAIN-----------------------------------*/
/*.main {
  /*тут все блоки
   flex: 1 1 auto;
}*/
.one_block {
  /*первый блок, сюда цвет обложки кидаем*/
  padding-top: 123px; /*43+80*/
  margin-bottom: 68px;
}

.page {
  /*display: flex;
  min-height: 565px;
  width: 1120px;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: beige;*/
 /* margin: 123px auto;*/
}

/*.page__main-block {
  display: flex;
}*/
.main-block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 455px;
}

.main-block__content {
  display: flex;
  /*padding-top: 65px;*/
 justify-content: space-between;
  flex-grow: 0.25;
  max-width: 240px;
}
.clmn4-wrapper:hover {
  cursor: pointer;
  filter: opacity(0.6);
  transition: 0.3s; 
}
.clmn-logo {
  max-width: 55px;
  max-height: 55px;
}

.main-block__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 64px;
  /* or 89% 64px*/
  letter-spacing: 0.2px;
  vertical-align: top;
  color: #1f1f1f;
}

.main-block__text {
  /*font-family: "Inter";- поставила по умолчанию
  font-style: normal; 
  font-weight: 400;*/
  font-size: 20px;
  line-height: 30px;
  /* or 124% */
  letter-spacing: 0.2px;
  width: 350px;
  vertical-align: top;
  color: #1f1f1f;
}
.main-block__buttons {
}
.main-block__button {
  padding: 8px 32px;
  font-size: 17px;
}
.main-block__button:last-child::after {
  content: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.34314 1.1001L9.68628 9.86039L1.34314 18.6207' stroke='%23006B99' stroke-width='1.6'/%3E%3C/svg%3E%0A");
  vertical-align: top;
  position: relative;
  left: 8px;
}

.main-block__image{
}
.main-block__image img {
  max-width: 100%;
  min-width: 250px;
}

/*-----------------------------4-КОЛОНКИ---------------------------------*/
.columns4 {
  padding-top: 123px;
  position: relative;
  top: -123px;
}

.columns4 .container{
  border: 2px solid #0070a0;
  padding-bottom: 60px;
}
.clmn4__wrapper-content{
  padding-top: 50px; 
}

.clmn4__text {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  margin-bottom: 68px;
}
.clmn4-block__title {
  font-family: Fraunces;
  margin-bottom: 21px;
}
.clmn4-block__text {
  font-weight: 400;
  font-size: 18px;
}
.clmn4-footer {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.clmn4-footer__title {
  font-family: "Fraunces";
  font-size: 25px;
  margin: 13px 0px 13px 0px;
  color:#1F1F1F;
}
.clmn4-footer__text{
  color:#1F1F1F;
  margin-bottom:10px;
}
.clmn4-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  max-width: 240px;
}
.clmn4-wrapper:hover {
  cursor: pointer;
  filter: opacity(0.6);
  transition: 0.3s; 
}
.clmn-logo {
  max-width: 55px;
  max-height: 55px;
}

/*------------------------------ПОДВАЛ-----------------------------------*/
footer{
  padding-bottom:30px;
  position: relative;
  top:-100px;

}
.whirl{
  flex-grow: 4;
}
.whirl .header__logo {
  margin-bottom: 28px;
  display: flex;/*легко выровнять псевдоэлемент с помощью флекса, на родительский блок*/
  align-items:center;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoBlock {
  display: flex;
  justify-content: space-around;
  flex-grow: 6;
}
.info,
.admin,
.newsletter {
  display: flex;
  flex-direction: column;

}
.newsletter {
  width: 229px;
  
}

.whirl a:hover{
  font-weight: 700;
}
.info {
  display: flex;
}
.footer-title {
  margin-bottom: 16px;
  color: #1f1f1f;

}
.footer-text {
  color: #626a72;
  font-size: 13px;
  margin-bottom: 10px;
}
.footer-text:hover{
  color: #1f1f1f;
}
.transition {
  color: #0070a0;
}
.email{
  font-size: 13px;
  width: 80%;
  height: max-content;
  padding: 5px 0;
}

#submit{
display: inline-block;
 width: max-content; 
 color: #0070A0;
 background-color:#fff;
 font-size: 30px;
 cursor:pointer;
}

#form input:focus{
  color: #0070a0;
}


/*----------------------Линия EMAIL-----------------------------*/
.new_form{
  border-bottom: 1px solid #c2cdd8;
}
/*-----------------------САМЫЙ НИЗ-----------------------------*/
.data {
  display: flex;
  justify-content: space-between;
  border-top:3px solid #c2cdd8;
}
.footer-data {
  margin-top: 36px;
  font-size: 13px;
}
.data .footer-data a:hover{
  font-weight: 700;
}
.socialImg {
  margin-top: 20px;
  margin-left: 20px;
}
.socialImg:hover{
  filter: invert(70%);
}
nav {
  display:flex;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
}
