body {
  max-width: 1130px;
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Обнуление*/

*,
*::before,
*::after {

  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: super;
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
  font-size: 15px;
}

h2 {
  font: Fraunces;
  font-size: 42px;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
}

/*------------------media/--------------------*/

@media (max-width: 790px) {

  footer {
    top: 0px;
  }

  .footer__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
  }

  .infoBlock {
    gap: 10px;
  }

  .whirl p {
    margin-bottom: 5px;
    font-size: 14px;
    width: 100px;
  }

  .data {
    padding-left: 15px;
    padding-right: 15px;
  }

  .info {
    border-left: 1px solid #0070A0;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .admin {
    border-left: 1px solid #0070A0;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .admin a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .info a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

}


@media(max-width: 650px) {

  

  .footer-data {
    text-align: center;
  }

  .data {
    justify-content: center;
    border-top: none;
    flex-wrap: wrap;
  }
}


@media(max-width: 560px) {

  * {
    flex-wrap: wrap;
  }

  .columns4 {
    top: 0;
    padding-top: 60px;
    margin-bottom: 60px;
    background: rgba(222, 242, 247, 1)
  }

  .columns4 .container {
    border: none;
  }

  .clmn4-wrapper {
    max-width: 100%;
    margin-bottom: 30px;
    border: 2px solid #0070a0;
    padding: 10px;
    background-color: #FFF;
  }

  .clmn4__text {
    margin-bottom: 48px;
  }

  .clmn4__wrapper-content {
    max-width: 100%;
    padding: 10px 15px;
  }

  .clmn4-footer__title {
    padding: 10px 0;
    text-decoration: solid underline #0070a0;
  }

  .clmn4-wrapper:hover {
    cursor: pointer;
    filter: opacity(1);
    transition: 0.3s;
  }

  .clmn4-footer__title:hover {
    color: #0070a0;
    font-weight: 500;
  }

  .clmn4-footer__text:hover {
    color: #0070a0;
  }

  /*---------Подвал--------*/
  .footer__wrapper {
    padding: 0 35px;
  }

  .whirl {
    display: flex;
    justify-content: space-between;
  }

  .whirl p {
    width: 100%;
  }

  .infoBlock {
    border-top: 1px solid #0070a0;
    padding-top: 5px;
  }

  .admin,
  .info {
    border-left: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}

@media(max-width: 535px) {

  .admin,
  .info {
    border-left: 1px solid #0070A0;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 30px;
  }

  .newsletter {
    width: 100%;
    border-top: 1px solid #0070A0;
    padding-top: 12px;
    font-size: 14px;
  }

  .new_form {
    border-top: 1px solid #0070A0;
    border-bottom: 1px solid #0070A0;
  }

  .data {
    padding: 0 35px;
  }
}