@media (max-width: 1130px) {
    .container{
      padding: 0 20px;
    }
  
    .clmn4-footer__title {
      font-size: 22px;
    }
    }
    
    @media (max-width: 970px){
      .columns4 * {
        flex-wrap: wrap;
      }
      .clmn4-footer>a:nth-of-type(1){
        order: 1;
      }
      .clmn4-footer>a:nth-of-type(2){
        order: 3;
      }
      .clmn4-footer>a:nth-of-type(3){
        order: 2;
      }
      .clmn4-footer>a:nth-of-type(4){
        order: 4;
      }
      .clmn4-wrapper{
        max-width: 45%;
        margin-bottom: 20px;
        justify-content: space-around;
      }
    }
    
    @media (max-width: 790px) {
         .columns4 {
        position: relative;
        top: 0;
        padding-top: 0px;
        margin-bottom: 60px;
      }
    
      .columns4 .container {
      padding-bottom: 30px;
    }
    }

    @media(max-width: 560px){

      * {
        flex-wrap: wrap;
      }
      .columns4 {
        top: 0;
        padding-top: 60px;
        margin-bottom: 60px;
        background: rgba(222, 242, 247, 1)
    }
    .columns4 .container{
      border: none;
    }
    
      .clmn4-wrapper {
        max-width: 100%;
        margin-bottom: 30px;
        border: 2px solid  #0070a0  ;
        padding: 10px;
        background-color: #FFF;
      }
    
      .clmn4__text {
        margin-bottom: 48px;
    }
    
      .clmn4__wrapper-content {
          max-width: 100%;
          padding: 10px 15px;
        }
       
        .clmn4-footer__title {
          padding: 10px 0;
          text-decoration: solid underline #0070a0;
      }
      .clmn4-wrapper:hover {
        cursor: pointer;
        filter: opacity(1);
        transition: 0.3s; }
    
      .clmn4-footer__title:hover {
        color: #0070a0;
        font-weight: 500;
      }
        .clmn4-footer__text:hover {
          color: #0070a0;
      }
    }